<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Coole WEM Applikation</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link href="/css/dashboard.css" rel="stylesheet"/>


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    
    <style>
	    .media{
		    border-bottom: 1px solid #eee;
		    margin-bottom: 10px;
		    padding-bottom: 12px;
	    }
	    .smallertext{
		    font-size: smaller;
	    }
	    .approvedState{
		    font-weight: bold;
		    color:#65bb4c;
	    }
	    .commentfooter{
		    padding-top: 4px;
	    }
	    
	    .comments, .commentsbtn{
	    	margin-bottom: 12px;
	    	margin-top: 12px;
	    }
    </style>
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Coole WEM Application</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Kommentare</a></li>
            <li><a href="#">Blogs</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Produkt finden" id="filter" name="filter" />
            <button type="submit" class="btn btn-default">Suchen</button>
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
	      <div class="row">
	        <div class="col-sm-3 col-md-2 sidebar">
	        
	        	
	        	<div th:if="${userDisplayName != null}">
			  		Hello: <span th:text="${userDisplayName}">27</span>
				</div>
	
				<div th:if="${userDisplayName == null}" id="signinContainer">        
		        </div>
	        
	        
			
				<!--  // sidebar navi -->
				<ul class="nav nav-sidebar">
		            <li><a  href="?filter=audio">Audio</a></li>
		            <li><a href="?filter=dvd player">DVD Player</a></li>
		            <li><a href="?filter=plasma">Plasma TV</a></li>
		            <li><a href="?filter=camera">Kamera</a></li>
		            <li><a href="?filter=philips">Philips Products</a></li>
		          </ul>
			
			
	        </div><!-- ."col-sm-3 col-md-2 sidebar" -->
	        
	        
	        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	          
	          	<div class="row">
	  			
	  				<div style=" padding-bottom: 20px;margin: 40px 0 20px;border-bottom: 1px solid #eee;">
	  				
			  			<div class="btn-group" role="group" aria-label="...">
						  <a class="btn btn-default" href="?filter=audio">Audio</a>
						  <a class="btn btn-default" href="?filter=dvd%20player">DVD Player</a>
						  <a class="btn btn-default" href="?filter=plasma">Plasma TV</a>
						  <a class="btn btn-default" href="?filter=camera">Kamera</a>
						  <a class="btn btn-default" href="?filter=philips">Philips Products</a>
						</div>
					
	  				</div>
	  			
	  			
	  			
		  			<!-- // Product Template -->
		  			<div class="row">
				  		
				  		<div class="col-md-9" th:each="prod : ${products}">
						  	<div class="media">
						  		<div class="media-left">
						  			<a href="#"><img class="media-object" data-src="holder.js/64x64" th:src="${prod.blobUrl }" data-holder-rendered="true" width="128"/></a>
		      					</div>
			  					<div class="media-body">
			  						<h4 class="media-heading" th:text="${prod.title}">title</h4>
			  						<div th:utext="${prod.description}">
			  							Text
			  						</div>
			  						
			  						
									<a class="btn btn-info btn-xs commentsbtn" role="button" data-toggle="collapse" th:href="'#collapse' + ${prod.id }" aria-expanded="false" >Kommentare</a>
									
			  						<div class="collapse" th:id="'collapse' + ${prod.id }">
  	
				  						<!--  kommentare immer anzeigen -->
			          					<div class="comments">
											<ul th:fragment="comments" style="font-size:smaller;" class="list-group">
												<li th:each="comment : ${prod.comments}"  class="list-group-item">
													<a data-toggle="collapse" th:href="'#comment' + ${comment.id}" aria-expanded="false" aria-controls="comment"> 
														<span th:text="${comment.title }"></span> 
														[<span th:text="${comment.createdby }"></span>] 
													</a>
													<span class="glyphicon glyphicon-star" th:each="n : ${#numbers.sequence(1, comment.rating )}"></span>
													<div class="collapse" th:id="'comment' + ${comment.id}">
														<div th:utext="${comment.content }">				
														</div>
													</div>  				
												</li>
											</ul>
												
				  							<!--  neue kommentare nur anzeigen, wenn benutzer eingeloggt -->
								        	<div th:if="${userDisplayName != null}">
										  		
												<a class="btn btn-info btn-xs" data-toggle="collapse" th:href="'#addcomment' + ${prod.id }" aria-expanded="false">Kommentar hinzufügen</a>
										
												<div class="collapse" th:id="'addcomment' + ${prod.id }">
													<p  style="font-size:smaller;">					  
													 	<form th:id="'addcommentform' + ${prod.id }" action="/wem-community/comments/add"  class="form-horizontal">
															<input type="hidden" id="relid" name="relid" th:value="${prod.id }"/>
															
															<div class="form-group">
																<label for="title" class="col-sm-2 control-label">Title</label>
																<div class="col-sm-10">
																	<input type="text" class="form-control" id="title" name="title" placeholder="Titel"/>
																</div>
															</div>
															
															<div class="form-group">
																<label for="content" class="col-sm-2 control-label">Kommentar</label>
																<div class="col-sm-10">
																	<textarea placeholder="Kommentar einfügen ..." class="form-control" rows="5" id="content" name="content"></textarea>
																</div>
															</div>
															<div class="form-group">
																<label for="content" class="col-sm-2 control-label">Rating</label>
																<div class="col-sm-10">
																	<select class="form-control" rows="5" id="rating" name="rating">
																		<option value="1" selected="selected">1</option>
																		<option value="2">2</option>
																		<option value="3">3</option>
																		<option value="4">4</option>
																		<option value="5">5</option>
																	</select>
																</div>
															</div>
															
															<div class="form-group">
																<div class="col-sm-offset-2 col-sm-10">
													       			<button type="button" class="btn btn-primary btn-xs addcomment">Kommentar speichern</button>
																</div>
															</div>						  	
														</form>
													</p>
												</div>



											</div>
			          					
			          					</div><!-- .comments -->
		          					</div><!--  .collapse -->
		          						
		      					</div>
		    				</div>
				  		</div><!-- /col-md-8 -->
				  		
			  		</div><!-- /row -->  			  			
	      		</div>
	    	</div>
	    </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/app.js"></script>
    
   
  </body>
</html>
